<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <meta charset="UTF-8">
  <title>MOVIE LOVERS</title>
</head>
<body>

<form action="/search" method="post">
  <span> <input id="input_text" type="text" placeholder="Write a word" name="input_word"> </span>
  <span class="button"> <button id="input_buttom" type="submit" name="selection">Go</button> </span>
</form>


</body>
</html>